body {
    display: flex;
    align-items: center;
    justify-content: center;
}

footer {

    position: absolute;
    width: 100%;
    bottom: 0;
}

.container-fluid {
    text-align: center;
    margin-top: 10%;
    border: 2px solid #000;
    width: auto;
    display: inline-block;
    padding: 20px;

}